{% extends 'base.html' %}
{% load static %}


{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <table class="data-table">
                <tr>
                    <th>Team 1</th>
                    <th>Team 1</th>
                    <th>Team 1</th>
                    <th>Team 1</th>
                    <th>Team 1</th>
                    <th>Team 1</th>
                    <th>Team 1</th>
                    <th>Team 1</th>
                    <th>Team 1</th>
                    <th>Team 1</th>   
                </tr>
                <tr>
                    <td>100000</td>
                    <td>1100000</td>
                    <td>1100000</td>
                    <td>1100000</td>
                    <td>1100000</td>
                    <td>1100000</td>
                    <td>1100000</td>
                    <td>1100000</td>
                    <td>1100000</td>
                    <td>1100000</td>
                </tr>

            </table>
            <div class="row mb-2">
                
                <br>
              <div class="col-sm-6">
                <h1>Project Add</h1>
              </div>
              
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Add Team Member</h3>
    
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputName">Name</label>
                    <select id="inputStatus" class="form-control custom-select">
                        <option selected disabled>Select one</option>
                        <option>On Hold</option>
                        <option>Canceled</option>
                        <option>Success</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Team</label>
                    <select id="inputStatus" class="form-control custom-select">
                        <option selected disabled>Select one</option>
                        <option>On Hold</option>
                        <option>Canceled</option>
                        <option>Success</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="inputStatus">Amount</label>
                    <input type="text" id="amount" name="amount" class="form-control"/>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            
          </div>
          <div class="row">
            <div class="col-12">
              <button type="reset" class="btn btn-danger">Cancel</button>
              <button type="submit" class="btn btn-success">Submit</button>
    
            </div>
          </div>
          
        </section>
        <!-- /.content -->
      </div>
</form>
{% endblock content %}